.main {
    background-image: url("../tools/imgs/1.webp");
    width: 50%;
    height: auto;
    padding: 50px;
    border: solid;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dealer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main h1, h2 {
    text-align: center;
    color: rgb(27, 80, 226);
    font-size: 80px;
}

.dealer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-dealer {
    background-color: rgb(231, 141, 141);
    width: 70%;
    height: 70px;
    border: solid;
    margin-left: 13%;
}

button {
    height: 70px;
    width: 210px;
    border: solid;
    font-size: 30px;
}

.for-buttons {
    margin-top: 20px;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding-left: 13%;
}

button:hover {
    opacity: 80%;
}

.cards-user p, .cards-dealer p {
    margin: 2%;
    font-size: 20px;
}

.score {
    width: 15%;
    border-left: solid;
    background-color: azure;
}

.cards-user {
    background-color: rgb(231, 141, 141);
    width: 70%;
    height: 70px;
    border: solid;
    margin-left: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.score p {
    padding-top: 8px;
    margin: 15%;
    font-size: 20px;
}
